name: gtk_example
publish_to: 'none'

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  gtk: ^2.0.0
  provider: ^6.0.5
  yaru: ^0.7.0

dev_dependencies:
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
